

.example-button-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Добавляем обертке возможность переноса на новую строку */
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px; /* Добавим немного отступа для красоты */
}

.example-button-row button {
    color: #7e53db !important;
    background: #ffffff ;
    margin: 5px; /* Добавим немного отступа между кнопками */

  }

  .title_header {
    // border-radius: 20px;
    // border: none;
    // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 10px; /* Добавим немного отступа для красоты */

  }
  

  .title_row {
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

/* Для десктопных устройств */
@media (min-width: 768px) {
    .example-button-row button {
      width: 50px;
      height: 20px;
      font-size: 14px;
    }
  }
  
  /* Для планшетов */
  @media (min-width: 480px) and (max-width: 767px) {
    .example-button-row button {
      width: 20px;
      height: 15px;
      font-size: 10px;
    }
  }
  
  /* Для мобильных устройств */
  @media (max-width: 479px) {
    .example-button-row button {
      width: 20px;
      height: 15px;
      font-size: 10px;
    }
  }


// game block


.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Open Sans', sans-serif; /* Пример задания шрифта */
    font-size: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.flex-item {
    flex: 1;
    // width: 100px;
}

.item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner-item-1 {
    margin: 5px;
    font-size: 30px;
    align-items: center;
}

.inner-item-2 input[type="number"] {
    height: 40px; // Увеличиваем высоту
    margin: 5px;
    align-items: center;
    border-radius: 10px;
}


.inner-item-3 button {
    height: 40px; // Увеличиваем высоту
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 16px; /* Размер шрифта */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #999; /* Цвет шрифта */
}

/* Центрирование текста-подсказки в поле ввода */
.inner-item-2 input[type="number"]::placeholder {
    text-align: center;
}

/* Изменение размера и цвета шрифта текста-подсказки */
.inner-item-2 input[type="number"]::placeholder {
    font-size: 16px; /* Размер шрифта */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #999; /* Цвет шрифта */
}

// .inner-item-3 checkAnswer {
//     font-size: 16px; /* Размер шрифта */
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     color: #999; /* Цвет шрифта */
// }


/* Анимация смены цвета при наведении */
.inner-item-3 button.animated-button:hover {
    background-color: #0056b3; /* Новый цвет фона */
    color: #fff; /* Новый цвет шрифта */
    transition: background-color 0.3s, color 0.3s; /* Плавное изменение цвета */
}



// .game-block {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center; 
//     margin-top: 20px; 
// }

// .example-row {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 10px; 
// }

// .example-row span {
//     margin-right: 10px; 
// }




// .game-block {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center; // Центрируем текст внутри блока
//     margin-top: 20px; // Добавим немного отступа сверху для красоты
// }

// .game-block > div {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center; // Центрируем текст внутри блока
// }

// .game-block input[type="number"],
// .game-block button {
//     margin-top: 10px; // Добавим немного отступа между элементами
// }




// .game-block {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap; /* Добавляем обертке возможность переноса на новую строку */
//     justify-content: center;
//     align-items: center;
//     margin: 0;
//     padding: 20px; /* Добавим немного отступа для красоты */
// }




// .game-block {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     margin-top: 20px;
// }

// .game-block > div {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     background-color: #ffffff;
//     padding: 10px;
//     border-radius:  5px;
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
//     width: 250px;
// }

// .input-row {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top: 10px;
// }

// .style_example {
//     font-size: 20px;
//     margin-right: 10px;
// }

// .input-row input[type="number"] {
//     width: 100px; // Ширина поля ввода
//     height: 30px; // Высота поля ввода
//     font-size: 20px; // Размер шрифта
//     padding: 5px; // Внутренние отступы
//     margin-right: 10px; // Добавляем отступ снизу
// }

// .input-row button {
//     // width: 200px; // Ширина поля ввода
//     height: 30px; // Высота поля ввода
//     font-size: 16px; // Размер шрифта
//     padding: 5px 10px; // Внутренние отступы
//     background-color: #ffffff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     transition: backgroubd-color 0.3s;
//     margin-top: 0;
// }

// .input-row button:hover {
//     background-color: #efd7bb;
// }
