/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url(/assets/img/JEMA_VIVI.jpg);
    background-size: 1000px;
    background-position: top center;
    background-repeat: repeat;
}



// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
//     background-image: url(/assets/img/pattern_paw.jpg);
//     background-image: url(/assets/img/sl_100420_36140_08.jpg);

//     background-size: 700px;
//     background-position: top left;
//     background-repeat: repeat;
// }
